:root {
    --menu-button-size: 24px;
    --menu-button-line-thickness: 4px;
}

.sr-only {
    appearance: none;
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}