:root {
    --menu-button-size: 24px;
    --menu-button-line-thickness: 4px;

    scroll-behavior: smooth;
}

.sr-only {
    appearance: none;
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.display-none {
    display: none;
}

@media screen and (min-width: 768px) {
    .display-flex-large {
        display: flex;
    }

    .display-inline-large {
        display: inline;
    }

    .display-none-large {
        display: none;
    }
}

main > section {
    margin-bottom: calc(2 * var(--pico-nav-element-spacing-vertical));
}