---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<section class="container">
		<h1>Kontakt</h2>
		<form name="contact" netlify>
			<label for="input-name">Name</label>
			<input
				id="input-name"
				type="text"
				name="name"
				placeholder="Max Mustermann"
				autocomplete="name"
			/>
			<label for="input-email">E-Mail-Adresse</label>
			<input
				id="input-email"
				type="email"
				name="email"
				placeholder="max.mustermann@example.com"
				autocomplete="email"
			/>
			<label for="input-message">Nachricht</label>
			<textarea
				id="input-message"
				name="message"
				placeholder="Was liegt Ihnen auf dem Herzen?"></textarea>
			<button type="submit">Senden</button>
		</form>
	</section>
</BaseLayout>
