---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<section class="hero">
		<picture>
			<img
				src="https://static.independent.co.uk/2022/12/29/14/iStock-464629385.jpg?quality=75&width=1000&crop=3%3A2%2Csmart&auto=webp"
			/>
		</picture>
		<div data-theme="dark" class="hero-content container">
			<h1>
				Erreichen Sie digitale Barrierefreiheit mit DalBit Solutions
			</h1>
			<p>
				Wir bieten umfassende Audits und Designüberarbeitungen, um Ihre
				Webseite für alle zugänglich zu machen.
			</p>
			<a href="/#kontakt" role="button">Kontaktieren Sie uns!</a>
		</div>
	</section>
	<section id="leistungen" class="container">
		<h2>Unsere Leistungen</h2>
		<div class="grid">
			<article>
				<h3>Barrierefreiheits-Audits</h3>
				<p>
					Unser erfahrenes Team führt detaillierte Audits durch, um
					alle Aspekte der digitalen Barrierefreiheit Ihrer Webseite
					zu analysieren und zu bewerten.
				</p>
			</article>

			<article>
				<h3>Designüberarbeitungen</h3>
				<p>
					Wir passen das bestehende Design Ihrer Webseite an, um
					sicherzustellen, dass es allen Nutzern zugänglich ist, ohne
					das ursprüngliche Branding zu verlieren.
				</p>
			</article>
		</div>
	</section>
	<section id="ueber-uns" class="container">
		<h2>Warum DalBit Solutions?</h2>
		<div class="grid">
			<article>
				<h3>Expertenwissen und Erfahrung</h3>
				<p>
					Mit jahrelanger Erfahrung und tiefgreifendem Wissen im
					Bereich der digitalen Barrierefreiheit sind wir Ihr
					zuverlässiger Partner für barrierefreie Weblösungen.
				</p>
			</article>

			<article>
				<h3>Maßgeschneiderte Lösungen</h3>
				<p>
					Unsere Dienstleistungen werden individuell auf die
					Bedürfnisse Ihres Unternehmens und Ihrer Zielgruppe
					zugeschnitten, um optimale Ergebnisse zu erzielen.
				</p>
			</article>

			<article>
				<h3>Nachhaltige Implementierung</h3>
				<p>
					Wir setzen nachhaltige und zukunftssichere Lösungen um, die
					nicht nur aktuellen Standards entsprechen, sondern auch
					zukünftigen Anforderungen gerecht werden.
				</p>
			</article>
		</div>
	</section>
	<section id="kontakt" class="container">
		<h2>Kontaktieren Sie DalBit Solutions</h2>
		<div class="grid">
			<div>
				<h3>Wir freuen uns von Ihnen zu hören!</h3>
				<p>Haben Sie Fragen an uns oder möchten Sie eine unserer Dienstleistungen in Anspruch nehmen? Nutzen Sie gerne unser Kontaktformular, um uns Ihr Anliegen mitzuteilen. Wir werden uns so schnell wie möglich bei Ihnen melden, um Ihre Bedürfnisse zu besprechen und Ihnen weiterzuhelfen.</p>
			</div>

			<article>
				<h3>Schreiben Sie uns</h3>
				<form name="contact" netlify>
					<label for="input-name">Name</label>
					<input
					id="input-name"
					type="text"
					name="name"
					placeholder="Max Mustermann"
					autocomplete="name"
					/>
					<label for="input-email">E-Mail-Adresse</label>
					<input
					id="input-email"
					type="email"
					name="email"
					placeholder="max.mustermann@example.com"
					autocomplete="email"
					/>
					<label for="input-message">Nachricht</label>
					<textarea
					id="input-message"
					name="message"
					placeholder="Was liegt Ihnen auf dem Herzen?"></textarea>
					<button type="submit">Senden</button>
				</form>
			</article>
		</div>
	</section>
</BaseLayout>

<style>
	.hero {
		overflow: hidden;
		position: relative;
	}

	.hero > picture {
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
	}

	.hero > picture > img {
		height: 100%;
		object-fit: cover;
		object-position: center;
		width: 100%;
	}

	.hero > picture::after {
		background: linear-gradient(
			to right,
			rgba(0, 0, 0, 0.8),
			rgba(0, 0, 0, 0.2)
		);
		content: " ";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 0;
	}

	.hero > .hero-content {
		padding-bottom: 7rem;
		padding-top: 7rem;
		position: relative;
		z-index: 1;
	}

	@media screen and (min-width: 768px) {
		.hero > .hero-content > * {
			max-width: 50%;
		}
	}
</style>
