---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<section class="hero">
		<picture>
			<img
				src="https://static.independent.co.uk/2022/12/29/14/iStock-464629385.jpg?quality=75&width=1000&crop=3%3A2%2Csmart&auto=webp"
			/>
		</picture>
		<div data-theme="dark" class="hero-content container">
			<h1>Erreichen Sie digitale Barrierefreiheit mit DalBit Solutions</h1>
			<p>Wir bieten umfassende Audits und Design체berarbeitungen, um Ihre Webseite f체r alle zug채nglich zu machen.</p>
			<a href="/contact" role="button">Kontaktieren Sie uns!</a>
		</div>
	</section>
	<section class="container">
		<p>Demn채chst ...</p>
	</section>
</BaseLayout>

<style>
	.hero {
		overflow: hidden;
		position: relative;
	}

	.hero > picture {
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
	}
	
	.hero > picture > img {
		height: 100%;
		object-fit: cover;
		object-position: center;
		width: 100%;
	}

	.hero > picture::after {
		background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
		content: " ";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 0;
	}

	.hero > .hero-content {
		padding: 7rem 0;
		position: relative;
		z-index: 1;
	}

	.hero > .hero-content > * {
		max-width: 50%;
	}
</style>
