---
import '@picocss/pico';
---

<html lang="de">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>DalBit Solutions</title>
	</head>
	<body>
		<header>
			<div class="container">
				<h1>DalBit Solutions</h1>
			</div>
		</header>
		<main>
			<section class="container">
				<p>Demnächst ...</p>
			</section>
		</main>
	</body>
</html>
