---
import BaseLayout from "../layouts/BaseLayout.astro";
import Form from "../components/Form.svelte";

const head = {
    meta: {},
    title: "Kontakt",
};
---

<BaseLayout head={head}>
    <section id="ihre-anfrage" class="container">
        <h2>Kontakt</h2>
        <div class="grid">
            <div>
                <h3>Schreiben Sie uns</h3>
                <p>
                    Bitte formulieren Sie Ihre Frage so genau wie möglich und
                    vergewissern Sie sich, dass Sie Ihre Kontaktdaten korrekt
                    angeben. In der Regel erhalten Sie innerhalb von 24 Stunden
                    eine Antwort. Bei komplexeren Fragen kann es etwas länger
                    dauern.
                </p>
            </div>
            <article>
                <Form name="Kontakt" client:visible>
                    <h3 slot="legend">Kontaktformular</h3>
                    <label for="input-email">E-Mail-Adresse</label>
                    <input
                        id="input-email"
                        type="email"
                        name="email"
                        autocomplete="email"
                        required
                    />
                    <label for="input-message">Nachricht</label>
                    <textarea id="input-message" name="message" required
                    ></textarea>
                </Form>
            </article>
        </div>
    </section>
</BaseLayout>
