---
import "@picocss/pico/css/pico.blue.min.css";
import "../styles/global.css";
import HeadContent from "../components/HeadContent.svelte";
import Navigation from "../components/Navigation.svelte";

const { head, headerNavMenuItems } = Astro.props;
const year = (new Date()).getFullYear();
---

<html lang="de">
    <head>
        <HeadContent data={head} />
        <meta name="generator" content={Astro.generator}>
        <script src="../scripts/spam-protection.js"></script>
        <link rel="sitemap" href="/sitemap-index.xml" />
    </head>
    <body>
        <aside class="anchors">
            <nav>
                <ul>
                    <li><a href="#hauptinhalt">Zum Hauptinhalt springen</a></li>
                    <li><a href="#fusszeile">Zur Fußzeile springen</a></li>
                </ul>
            </nav>
        </aside>
        <header id="kopfzeile">
            <Navigation menuItems={headerNavMenuItems} client:load />
        </header>
        <main id="hauptinhalt">
            <slot />
        </main>
        <hr />
        <footer id="fusszeile">
            <aside class="display-none-large">
                <nav class="container">
                    <ul>
                        <li>
                            <a href="/barrierefreiheit">Barrierefreiheit</a>
                        </li>
                        <li><a href="/datenschutz">Datenschutz</a></li>
                        <li><a href="/impressum">Impressum</a></li>
                        <li><a href="/kontakt">Kontakt</a></li>
                        <li>© 2024 DalBit Solutions - Alexander Fridlin</li>
                    </ul>
                </nav>
            </aside>
            <nav class="display-none display-flex-large container">
                <ul>
                    <li><a href="/barrierefreiheit">Barrierefreiheit</a></li>
                    <li><a href="/datenschutz">Datenschutz</a></li>
                    <li><a href="/impressum">Impressum</a></li>
                    <li><a href="/kontakt">Kontakt</a></li>
                </ul>
                <ul>
                    <li>© {year} DalBit Solutions - Alexander Fridlin</li>
                </ul>
            </nav>
        </footer>
    </body>
</html>

<style>
    header + main {
        padding-top: 0;
    }

    aside.anchors {
        left: 0;
        position: absolute;
        top: -100%;
    }

    aside.anchors:focus-within {
        left: 1rem;
        top: 0.5rem;
    }

    aside.anchors ul {
        background-color: var(--pico-background-color);
    }
</style>
