---
import "@picocss/pico/css/pico.blue.min.css";
import "../styles/global.css";

const { pageTitle } = Astro.props;
const siteName = "DalBit Solutions";
const fullTitle = pageTitle ? `${pageTitle} | ${siteName}` : siteName;
---

<html lang="de">
    <head>
        <meta charset="utf-8" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{fullTitle}</title>
    </head>
    <body>
        <header>
            <nav class="container">
                <ul>
                    <li>
                        <a title="Startseite" href="/"
                            ><img
                                src="/dalbit-logo-text.svg"
                                width="117"
                                alt="DalBit Logo"
                            /></a
                        >
                    </li>
                </ul>
                <ul class="menu">
                    <li>
                        <input
                            type="checkbox"
                            id="menu-button"
                            class="sr-only"
                        />
                        <label for="menu-button">
                            <span></span>
                        </label>
                        <aside>
                            <nav class="container">
                                <ul>
                                    <li><a href="/about">Über uns</a></li>
                                    <li><a href="/services">Leistungen</a></li>
                                    <li><a href="/blog">Blog</a></li>
                                    <li><a href="/contact">Kontakt</a></li>
                                </ul>
                            </nav>
                        </aside>
                    </li>
                </ul>
                <ul class="menu-large">
                    <li><a href="/about">Über uns</a></li>
                    <li><a href="/services">Leistungen</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/contact">Kontakt</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <slot />
        </main>
        <footer>
            <hr />
            <aside class="menu">
                <nav class="container">
                    <ul>
                        <li><a href="/imprint">Impressum</a></li>
                        <li><a href="/contact">Kontakt</a></li>
                        <li><a href="/privacy">Datenschutz</a></li>
                        <li>© 2024 DalBit Solutions - Alexander Fridlin</li>
                    </ul>
                </nav>
            </aside>
            <nav class="menu-large container">
                <ul>
                    <li><a href="/imprint">Impressum</a></li>
                    <li><a href="/contact">Kontakt</a></li>
                    <li><a href="/privacy">Datenschutz</a></li>
                </ul>
                <ul>
                    <li>© 2024 DalBit Solutions - Alexander Fridlin</li>
                </ul>
            </nav>
        </footer>
    </body>
</html>

<style>
    .menu-large {
        display: none;
    }

    @media screen and (min-width: 768px) {
        .menu {
            display: none;
        }

        .menu-large {
            display: flex;
        }
    }

    label[for="menu-button"] {
        align-items: center;
        cursor: pointer;
        display: flex;
        height: var(--menu-button-size);
        position: relative;
        width: var(--menu-button-size);
    }

    label[for="menu-button"]::before,
    label[for="menu-button"] > span,
    label[for="menu-button"]::after {
        content: "";
        width: var(--menu-button-size);
        height: var(--menu-button-line-thickness);
        background-color: var(--pico-color);
        position: absolute;
        left: 0;
        transition: all var(--pico-transition);
    }

    label[for="menu-button"]::before {
        top: 0;
    }

    label[for="menu-button"]::after {
        bottom: 0;
    }

    #menu-button:checked ~ label[for="menu-button"]::before {
        top: calc(var(--menu-button-size) / 2);
        transform: rotate(45deg);
        transform-origin: center;
    }

    #menu-button:checked ~ label[for="menu-button"] > span {
        background-color: transparent;
    }

    #menu-button:checked ~ label[for="menu-button"]::after {
        top: calc(var(--menu-button-size) / 2);
        transform: rotate(-45deg);
        transform-origin: center;
    }

    #menu-button:focus-visible ~ label[for="menu-button"] {
        box-shadow: 0 0 0 var(--pico-outline-width) var(--pico-primary-focus);
    }

    #menu-button ~ aside {
        display: none;
    }

    #menu-button:checked ~ aside {
        background-color: var(--pico-background-color);
        display: unset;
        margin-top: var(--pico-nav-element-spacing-vertical);
        position: absolute;
        right: 0;
        width: 100%;
        z-index: 10;
    }

    main {
        padding-top: 0 !important;
    }
</style>
