---
import BaseLayout from "../layouts/BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout head={frontmatter.head}>
    <section class="container">
        <slot />
    </section>
</BaseLayout>